In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2021-08-15 01:46:15,-34.5322,20.0403,50.29,93,0,3.44
1,1,Aklavik,CA,2021-08-15 01:46:16,68.2191,-135.0107,63.43,44,66,11.59
2,2,Nago,JP,2021-08-15 01:46:16,26.5881,127.9761,86.16,75,47,9.71
3,3,Nelson Bay,AU,2021-08-15 01:46:16,-32.7167,152.1500,70.29,62,0,1.99
4,4,Atuona,PF,2021-08-15 01:46:17,-9.8000,-139.0333,78.46,80,22,20.40

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [22]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [32]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Atuona,PF,2021-08-15 01:46:17,-9.8000,-139.0333,78.46,80,22,20.40
7,7,Cayenne,GF,2021-08-15 01:46:18,4.9333,-52.3333,81.09,85,0,1.01
9,9,Oussouye,SN,2021-08-15 01:46:19,12.4850,-16.5469,78.98,86,100,7.38
20,20,Trairi,BR,2021-08-15 01:46:23,-3.2778,-39.2689,76.39,81,6,7.61
21,21,Yatou,CN,2021-08-15 01:46:23,37.1500,122.3833,80.55,66,0,4.29
28,28,La Asuncion,VE,2021-08-15 01:46:26,11.0333,-63.8628,80.33,94,94,8.05
30,30,Ponta Do Sol,PT,2021-08-15 01:46:27,32.6667,-17.1000,77.13,30,28,2.68
31,31,Faanui,PF,2021-08-15 01:46:27,-16.4833,-151.7500,79.05,72,12,6.04
33,33,Atambua,ID,2021-08-15 01:46:28,-9.1061,124.8925,83.05,47,0,3.51
35,35,San Ignacio,BZ,2021-08-15 01:46:29,17.1561,-89.0714,78.94,89,75,6.91

In [33]:
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [34]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [35]:
preferred_cities_df.notnull().sum()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
4         Atuona      PF     78.46  -9.8000 -139.0333
7        Cayenne      GF     81.09   4.9333  -52.3333
9       Oussouye      SN     78.98  12.4850  -16.5469
20        Trairi      BR     76.39  -3.2778  -39.2689
21         Yatou      CN     80.55  37.1500  122.3833
28   La Asuncion      VE     80.33  11.0333  -63.8628
30  Ponta Do Sol      PT     77.13  32.6667  -17.1000
31        Faanui      PF     79.05 -16.4833 -151.7500
33       Atambua      ID     83.05  -9.1061  124.8925
35   San Ignacio      BZ     78.94  17.1561  -89.0714

In [43]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
      print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Atuona,PF,78.46,-9.8000,-139.0333,Villa Enata
7,Cayenne,GF,81.09,4.9333,-52.3333,Hôtel Le Dronmi
9,Oussouye,SN,78.98,12.4850,-16.5469,Auberge du Routard
20,Trairi,BR,76.39,-3.2778,-39.2689,janelas do mar
21,Yatou,CN,80.55,37.1500,122.3833,GreenTree Hotel Rongcheng Bus Station
28,La Asuncion,VE,80.33,11.0333,-63.8628,Colinas de Matasiete
30,Ponta Do Sol,PT,77.13,32.6667,-17.1000,Hotel do Campo
31,Faanui,PF,79.05,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
33,Atambua,ID,83.05,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
35,San Ignacio,BZ,78.94,17.1561,-89.0714,Rainforest Haven Inn

In [47]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [49]:
#plant_info = [info_box_template.format(**plant) for plant in nuclear_power_plants]

In [50]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))